::-webkit-scrollbar
{
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track
{
    background-color: #1d042b;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(87, 0, 159);
    border: 0.25em solid white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover 
{
    background-color: rgb(27, 0, 49);
}